# 编译产物
*.o
*.d
*.elf
*.bin
*.hex
*.map
*.list
*.a
*.lib

# CDK IDE 会话/缓存
.cdk/
__workspace_pack__/

# CDK 自动生成的构建文件
Makefile
cdkws.mk
*.modify.bat
hello_world.mk
hello_world.txt

# 构建输出目录
obj/
Obj/
Lst/
build/
out/

# IDE 配置
.vscode/

# clangd 缓存
.cache/

# 构建中间文件
fill.bin
